__pycache__/
*$py.class
*.pyc
/.venv/
/.idea/
/.vscode/
.pytest_cache/
/data/
/dist/
/example
/src/comtrade_io.egg-info/
src/.idea/
src/comtrade_io/.idea
.claude/
config.json
CLAUDE.md
error_log.txt
*.log
compatibility.md
/aktivera.sh
